@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f1117;
  color: #e5e7eb;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #2a3241;
  border-radius: 4px;
}
